@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body,
main {
  position: fixed;
  width: 100%;
  height: 100%;
}
.blur {
  background-image: url(./img/bg1.gif);
  filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}
.container-logo {
  width: 100%;
}
.minecraft-logo {
  margin-top: 80px !important;
  width: 45%;
  height: auto;
}
.logoText {
  position: fixed;
  margin-left: 700px;
  margin-top: 170px;
  color: rgb(255, 238, 0);
  font-family: "Minecraft";
  font-size: 40px;
  text-shadow: 0.1em 0.1em #333;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
}
.container-buttons {
  height: 70%;
}
.button-container {
  height: 25%;
  width: 100%;
}
.buttons {
  height: 50px;
  width: 100%;
  background-color: rgb(99, 99, 99);
  color: white;
  font-family: "Minecraft";
  font-size: 20px;
  text-shadow: 0.1em 0.1em #333;
}
.buttons_a {
  height: 50px;
  width: 40%;
}
.credits {
  z-index: 100;
  color: white;
}

/* SERVER */
#container_multiplayer {
  width: 100%;
  height: 100%;
  position: fixed;
}
header {
  width: 100%;
  height: 10%;
}
.nav {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/dirt-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}
.searcher {
  height: 40px;
  width: 40%;
  position: fixed;
  z-index: 100;
}
.main_container {
  margin-top: 94.8px;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  background-image: url("../img/background_server.jpg");
  background-size: cover;
  box-sizing: border-box;
}
.servers{
  width: 70%;
  overflow: auto;
  height: 45rem;
  margin: auto !important;
  box-sizing: border-box;
}
.cards{
  width: 90%;
  height: 25%;
  display: flex;
  border: 5px;
  margin: 12px;
  display: flex;
  justify-content: space-around;
}
.cards:hover {
  outline: thick solid gray;
  box-shadow: 10px 10px black;
}
.server_padre {
  width: 100%;
  margin: 0% !important;
}
.server_info {
  margin-top: 10px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Minecraft";
}
.server_text {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: white;
  font-family: "Minecraft";
  text-align: center;
}
.buttons_foot {
  width: 100%;
  height: 25%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/dirt-background.jpg");
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  position: fixed;
}
.buttons_server {
  width: 300px;
  height: 45px;
  color: rgb(255, 255, 255);
  background-color: gray;
  font-family: "Minecraft";
  text-shadow: 0.1em 0.1em #333;
}
.buttons_server_a {
  margin-top: 55px;
  text-decoration: none;
}
.senal_icon {
  margin-top: 3px !important;
}
/* MODAl */
.modal_padre {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
.modal_servers {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/background_server.jpg");
  background-size: cover;
  z-index: 150;
}
.inputs_servers {
  font-family: "Minecraft";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 0.1em 0.1em #333;
}
.inputs {
  height: 50px;
  background-color: #333;
  color: rgb(255, 255, 255);
}
.buttons_modal {
  width: 100%;
  height: 25%;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}