<div id="container_multiplayer">
  <div id="header">
    <div class="nav">
      <input type="number" id="eliminador" class="modal_padre" placeholder="Digite id del server que desea eliminar">
    </div>
  </div>

  <div class="main_container">
    <div id="servers"></div>
  </div>

  <div class="buttons_foot col">
    <a class="buttons_server_a" id="eliminar_servidor"
      ><button class="buttons_server">Eliminar servidor</button></a
    >
    <a class="buttons_server_a" id="anadir_servidor"
      ><button class="buttons_server">Añadir servidor</button></a
    >
    <a class="buttons_server_a"
      ><button id="cerrar_servers" class="buttons_server">Cerrar</button></a
    >
  </div>
</div>

<div id="modalsito" class="modal_padre">
  <div class="modal_servers row">
    <form id="form" class="inputs_servers col-4">
      <p>Nombre del servidor</p>
      <input class="inputs" type="text" name="name" /> <br />
      <br />
      <p>IP del servidor</p>
      <input class="inputs" type="text" name="ip" /> <br />
      <br />
    </form>

    <div class="col-12 buttons_modal">
      <a class="buttons_server_a"
        ><button class="buttons_server" id="guardar_servidor">
          Guardar
        </button></a
      >
      <a class="buttons_server_a"
        ><button class="buttons_server" id="cancelar_servidor">
          Cancelar
        </button></a
      >
    </div>
  </div>
</div>

<style>
  @font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf);
  }
  /* SERVER */
  #container_multiplayer {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  header {
    width: 100%;
    height: 10%;
  }
  .nav {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./img/dirt-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
  }
  #eliminador {
    height: 40px;
    width: 40%;
    position: fixed;
    z-index: 100;
  }
  .main_container {
    margin-top: 94.8px;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    background-image: url("./img/background_server.jpg");
    background-size: cover;
    box-sizing: border-box;
  }
  .servers {
    width: 70%;
    overflow: auto;
    height: 45rem;
    margin: auto !important;
    box-sizing: border-box;
  }
  .cards {
    width: 90%;
    height: 25%;
    display: flex;
    border: 5px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  .cards:hover {
    outline: thick solid gray;
    box-shadow: 10px 10px black;
  }
  .server_padre {
    width: 80%;
  }
  .server_info {
    margin-top: 10px;
    height: 30%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Minecraft";
  }
  .server_text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    font-family: "Minecraft";
    text-align: center;
  }
  .buttons_foot {
    width: 100%;
    height: 25%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./img/dirt-background.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    position: fixed;
  }
  .buttons_server {
    width: 300px;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color: gray;
    font-family: "Minecraft";
    text-shadow: 0.1em 0.1em #333;
  }
  .buttons_server_a {
    margin-top: 55px;
    text-decoration: none;
  }
  .senal_icon {
    margin-top: 3px !important;
  }
  /* MODAl */
  .modal_padre {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
  }
  .modal_servers {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("./img/background_server.jpg");
    background-size: cover;
    z-index: 150;
  }
  .inputs_servers {
    width: 30%;
    margin: auto;
    font-family: "Minecraft";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 0.1em 0.1em #333;
  }
  .inputs {
    height: 50px;
    background-color: #333;
    color: rgb(255, 255, 255);
    font-family: "Minecraft";
    font-size: 25px;
  }
  .buttons_modal {
    width: 100%;
    height: 50%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }
</style>